.edit_container{
    display: flex;    
    z-index: 1;
    width: 100%;
    border-radius: 1em;
    height: 12vh;
    background-color: var(--greenBlue);
    color:var(--white);
    align-items: center;
    justify-content:center;
}

.edit_container i{
    font-size: large;
}

.edit_container:hover i{
    color: var(--dark);
}

.edit_back_arrow{
    height:100%;
    justify-content: center;
    background:none;
    border: none;
    cursor: pointer;
    padding: 0%;
}

.edit_back_arrow:hover i{
    color: var(--white);
}

.edit_back_arrow:active i{
    color: var(--semiWhite);
}

.edit_container input{
    background:none;
    background-color: var(--greenBlue);
    border: none;
    font-size: medium;
    width: 85%;
    height: 60%;
    color:var(--white);
    margin-left: 1%;
}

.edit_container input:hover {
    background-color: var(--harderGreenBlue);
    margin-left: 1%;
}

.edit_container input:focus {
    outline: none;
    border: none;
    margin-left: 1%;
}

.edit_container input::placeholder {
    color: var(--semiWhite);
    font-size: medium;
    font-weight: 500;
}

.edit_container i{
    color: var(--dark);
}


.button_save, .button_close, .edit_back_arrow {
    width: 2.9rem;
}

.button_save i:hover {
    background:none;
    color: var(--limeGreen);
}

.button_close i:hover{
    color: var(--lightRed);
}

.button_save i:active, .button_close i:active{
    color: var(--white);
}