/* ESTRUCTURA DE FONS DE LA LLISTA */

ul{
    width: 100%;
    max-width: 40rem;
    height: 74vh;
    margin: 1vh auto 0vh auto;
    padding: 0;
    overflow-y:auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    display: flex;
}

ul p{
    color: var(--greenBlue);
    font-size: medium;
    font-weight: 600;
    text-align: center;
    margin-top: -5%;
}

ul span{
    font-size: x-large;
    font-weight: 100;
}

ul i{
    color: var(--greenBlue);
    font-size: xx-large;
    margin-top: 5%;
}

ul i:hover, ul p:hover{
    color: var(--yellow);
}

/* CONTINGUT DE CADA TODO */

li {
    list-style-type: none;
    width: 100%;
}

.toDo_main{
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    height: 12vh;
    margin:0% .5% 0.5% .5%;
    border-radius: 1rem;
    text-align: center;
}

.toDo_main:hover{
    background-color: var(--softDark);
    color: var(--vividBlue);
    transition: all 0.2s;
    cursor: pointer;
}

.toDo_main:active{
    background-color: var(--greenBlue);
    color: var(--white);
    transition: background-color 0,2s;
}

.toDo_main i{
    background:none;
    margin: 0 auto;
    padding: 0 1% 0 1%;
    color: var(--darkGrey);
    transition: all 0.2s;
}

.toDo_main:hover i{
    color: var(--vividBlue);
}

.toDo_main:active i{
    color: var(--dark);
}

/* STATUS TODO*/

.toDo_status{
    display: flex;
    justify-items: center;
    width: 5rem;
}

.toDo_status i{
    font-size: medium;
}

.toDo_status_default{
    color: var(--darkGrey);
}

.toDo_status_doing{
    color: var(--yellow) !important;
}

.toDo_status_done{
    color: var(--vividGreen) !important;
}

.toDo_status_important{
    color: var(--lightRed) !important;
}

.toDo_status_remind{
    color: var(--blue) !important;
}


/* CONTENIDOR TEXT TODO */

.toDo_task{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-wrap: anywhere;
    text-transform: capitalize;
}

/* BOTONS TODO (+ EDIT) */

.button_delete, .button_edit, .button_lock, .button_save, .button_close, .edit_back_arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: medium;
    width: 2.2rem;
}

.button_delete:hover, .button_edit:hover, .button_lock:hover{
    background:none;
}

.button_edit:hover{
    color: var(--blue) !important;
}

.button_lock:hover{
    color: var(--yellow) !important;
}

.button_delete:hover{
    color: var(--lightRed) !important;
}

.button_delete:active, .button_edit:active, .button_lock:active{
    color: var(--white);
}