@import url(header.css);
@import url(search.css);
@import url(list.css);
@import url(edit.css);
@import url(input.css);

:root{
    --white:rgba(255, 255, 255);
    --semiWhite:rgba(255, 255, 255, 0.747);
    --brokenWhite:rgb(236, 236, 231);
    --yellow:rgb(207, 194, 5);
    --limeGreen: rgb(158, 250, 53);
    --softLimeGreen: rgb(98 130 63);
    --greenBlue:rgb(81, 139, 110);
    --harderGreenBlue:rgb(69, 129, 99);
    --vividGreen:rgb(26, 184, 105);
    --vividBlue:rgba(11, 161, 167);
    --blue:rgb(77, 121, 241);
    --lightRed:rgb(241, 77, 77);
    --darkRed:rgb(165, 1, 1);
    --lightGrey: rgb(129, 129, 129);
    --darkGrey:rgb(73, 73, 73);
    --softDark:rgb(44, 48, 46);
    --dark: rgb(32, 36, 34);
}

body{
    background-color: var(--dark);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}