#search_object{
    z-index: 1;
    height: 5vh;
    display: flex;
    justify-content: center;
    position: relative;
    width: 25%;
    min-width: 15rem;
}

#input_search{
    color: var(--lightGrey);
    outline: none;
    border: none;
    background: var(--softDark);
    display: flex;
    width: 100%;
    font-size: medium;
    font-weight: 500;
    padding-left: 2%;
    padding-right: 15%;
    /* border-radius: 0.5rem; */
}

#input_search:hover{
    background-color: var(--lightGrey);
}

#input_search:focus{
    background-color: var(--brokenWhite);
    color: var(--darkGrey);
}

#input_search::placeholder{
    color: var(--darkGrey);
}

.button_search{
    position: absolute;
    color: var(--dark);
    font-size: medium;
    background: none;
    border: none;
    color: var(--dark);
    height: 100%;
    right: 2%;
}